{{ with .Site.Social.github }}
<td><a href="//github.com/{{.}}" target="_blank" title="GitHub"><i class="fa fa-github"></i></a></td>
{{ end }}

{{ with .Site.Social.linkedin }}
<td><a href="//linkedin.com/in/{{.}}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></td>
{{ end }}


{{ with .Site.Social.quora }}
<td><a href="//quora.com/{{.}}" target="_blank" title="Quora"><i class="fa fa-quora"></i></a></td>
{{ end }}


{{ with .Site.Social.quora }}
<td><a href="//quora.com/{{.}}" target="_blank" title="Quora"><i class="fa fa-quora"></i></a></td>
{{ end }}